body {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  align-items: center;
  background-color: rgb(212, 212, 212);
}

.button {
  border: none;
  background-color: black;
  color: white;
  width: 60px;
  height: 24px;
  position: relative;
  overflow: hidden;
}
.button span {
  display: block;
  position: absolute;
  height: calc(100% - 4px);
  width: calc(100% - 4px);
  top: 2px;
  left: 2px;
  background-color: black;
  line-height: 20px;
}
.button::before {
  content: "";
  position: absolute;
  height: 40px;
  width: 40px;
  top: 12px;
  left: 30px;
  background: linear-gradient(
    90deg,
    rgba(131, 58, 180, 1) 0%,
    rgba(253, 29, 29, 1) 50%,
    rgba(252, 176, 69, 1) 100%
  );
  transform-origin: left top;
}
.button:hover::before {
  animation: rotate 2s linear infinite;
}
@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}

.round {
  border-radius: 50%;
}
.round span {
  border-radius: 50%;
}
.round-square {
  border-radius: 10px 0 10px 0;
}
.round-square span {
  border-radius: 10px 0 10px 0;
}
